
body {
  background-image: url(../../Media/Ensalada.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
}

/* Para Dispositivos Mobiles */
@media only screen and (max-width: 767px) {
  body {
    background-image: url(../../Media/Ensalada.jpg);
  }
	/* Presentational style rules only
 * Not required
 */

html, body, .container {
  height: 100%;
}


